// 先设置变量
$vssue-theme-color = #04a4cc

// 文字颜色 （用于普通文字） Powered by
// $vssue-text-color

// 浅色文字颜色 （用于备注等文字） 登录后才能发表评论丨支持 Markdown 语法
// $vssue-text-light-color = red

// 进度条颜色
$vssue-progress-color = #04a4cc

// 引入 Vssue 的样式主文件和 github-markdown-css
@import '~vssue/src/styles/index'