#page-loader-model {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.hide {
    opacity: 0;
    // pointer-events: none;
  }
  #page-loader-model-text {
    top: 36%;
    width: 100%;
    position: absolute;
    color: $color-primary;
    text-align: center;
  }
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 56px;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin: auto;
    .cube1,
    .cube2 {
      background-color: $color-primary;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;

      animation: cubemove 1.8s infinite ease-in-out;
      animation: cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
      animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
