@import './loader.scss';

.g-abs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 清除浮动
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// 累趴下了
.GetTired {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2) rotate(370deg);
  }
}

a {
  text-decoration: none;
}
