@import './loader.scss';

body,
p {
  margin: 0;
}

i {
  font-style: normal;
}

.g-abs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 清除浮动
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

input {
  outline: 0;
  border: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: 0 none;
  list-style-type: none;
}

table,
tr,
td {
  border-spacing: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.normal-transition {
  transition: all .5s ease;
  transform: scale(1);
  opacity: 1;
}

.normal-enter {
  transform: scale(0.1);
  opacity: 0;
}

.normal-leave {
  transform: scale(0.1);
  opacity: 0;
}

.uyan_frame {
  z-index: $zIndex-uyan_frame + 1;
  // transition: all .3s ease;
  cursor: pointer;
  box-shadow: 0 0 4px $color-main;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 4px solid #FFF;
  overflow: hidden;
  bottom: 108px;
  position: absolute;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  background-color: $color-main;

  &:hover {
    background-color: #5bcfec;
    // transform: scale(1.2) rotate(10deg);
  }
}

.main {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

h1 {
  color: #04a4cc;
}

// 累趴下了
.GetTired {
  transition: all 0.2s ease-in-out;

  &:hover {
    // transform: rotate(10deg);
    transform: scale(1.2) rotate(370deg);
    // box-shadow: 0 0 10px $color-main;
  }
}

.main.about,
.main.friend {
  width: 500px;
  height: 500px;
  margin: auto;

  p {
    margin: 16px 0;
  }
}

a {
  text-decoration: none;
}

.main.index {
  p {
    color: $color-main;
  }

  .center {
    text-align: center;
  }

  .section {
    margin-top: 20px;
    position: relative;

    ul {
      li {
        $section-ul-li-width: 240px;
        width: $section-ul-li-width;
        height: $section-ul-li-width / 3;
        padding: 12px;
        margin: 4px;
        background-color: $color-main;
        border: 4px solid #fff;
        box-shadow: 0 0 4px $color-main;
        transition: all 0.2s ease-in-out;
        float: left;
        overflow: hidden;

        h2 {
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
        }

        a {
          color: #fff;
        }

        .des {
          color: #dadada;
          font-size: 0.8rem;
        }

        &:hover {
          background-color: #00a499;
          cursor: pointer;

          a {
            color: #83e9f5;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.main.categories {
  h1 {
    height: 100px;
    text-align: center;
  }

  .posts {
    .block {
      float: left;
      border-radius: 4px;
      padding: 2px 8px;
      height: 20px;
      line-height: 20px;
      margin: 0 14px 10px 0;

      &.title {
        background-color: $color-main;
        color: #fff;
        font-size: 18px;
      }

      &.post {
        cursor: pointer;
        box-shadow: 0 0 1px $color-main;
        color: $color-main;
        font-size: 14px;
        transition: all 0.4s ease-in-out;

        .date {
          display: none;
        }

        &:hover {
          color: #41c2e2;
          border-radius: 0px;
          background-color: #fff;

          .date {
            display: block;
          }

          .content {
            display: none;
          }
        }
      }
    }
  }
}

.main.post {
  h1 {
    position: absolute;
    top: 0;
    left: 320px;
    right: 320px;
    text-align: left;
    line-height: 50px;
    margin: 0;
  }

  .time {
    text-align: left;
    line-height: 50px;
    font-size: 18px;
    left: 320px;
    right: 320px;
    position: absolute;
    top: 50px;
  }

  .line-break-des {
    display: block;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 0 1px #aaa;
    width: 100%;
  }

  .des {
    padding: 10px;
    margin-top: 100px;
    color: #888;
  }

  .content {
    margin-top: 20px;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 140px;
    color: #5d5d5d;
    line-height: 26px;
    font-size: 16px;

    p {
      margin: 8px;
      text-indent: 2rem;
    }
  }
}